/* file: styles.css */
h1 {
text-align: center;
}

.container {
background-color: rgb(255, 255, 255);
padding: 10px 0;
}

.marker {
width: 200px;
height: 25px;
margin: 10px auto;
}

.one {
background-color: rgb(255, 0, 0);
}

.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  colore: blue;
}

